.book-cover{
  width: 75vw;
  height: 75vw;
  position: relative;
  box-shadow: rgb(0 0 0) 2px -14px 20px -10px;
  max-width: 500px;
  max-height: 500px;
}

.names{
  box-sizing: border-box;
  background-image: url("images/wood-bg.png");
  font-family: 'Satisfy', cursive;
  color: #944158;
  text-align: center;
  border: 3px solid #944158;
  border-radius: 4px;
  padding: 8px 10px;
  position: absolute;
  top: calc(50% - 28px);
  width: 100%;
  z-index:1;
}

.date{
  box-sizing: border-box;
  background-image: url("images/wood-bg.png");
  font-family: 'Satisfy', cursive;
  color: #944158;
  text-align: center;
  border: 3px solid #944158;
  border-radius: 50%;
  padding: 8px 12px;
  padding-top: 12px;
  position: absolute;
  left: calc(50% - 75px);
  max-width: 80%;
  z-index:1;
  margin-top: 40px;
}

.book-cover img {
  width: 100%;
}